################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chapter_14_DLL/ConsoleClient/obj/Debug/build.force
